*{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}
body{
    background-color: aqua;
}
.card{
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 50%;
    margin: 15% 25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.img-item {
        display: inline-block;
        box-sizing: border-box;
        height: 10%;
        border-radius: 10px;
}

.img-item img{   
    max-width:100% ;
    border-radius: 8px 8px 0 0;
}
h1, .about-item p{
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

.about-item{
    display: flex;
    justify-content: space-around;
    gap: 170px;
    margin: 15px 0;
}

.description-item, .card h2{
    font-size: 15px;

}